@media (max-width: 600px) {

    body {
        background-color: black;
        height: 100%;
        width: 100%;
        margin: 0;
        margin-bottom: 10vw;
        display: flex;
        flex-direction: column;
        font-family: Arial, sans-serif;
        align-items: center;
        justify-content: space-evenly;
        transition: transform 3s ease;
    }
    
    .centered-text {
        color: white;
        font-size: 12vw;
        display: flex;
        align-items: center;
        flex-direction: column;
        
    }
    
    .container-title {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: space-between;
    }
    
    
    
    
    
    
    
    .text-PORT {
        border-right: 3px solid white;
        white-space: nowrap;
        overflow: hidden;
        animation: 
            typing-1 1s steps(12) forwards, 
            blink 0.9s step-end infinite;
    }
    
    .text-NAME {
        display: none;
        border-right: 3px solid white;
        white-space: nowrap;
        overflow: hidden;
        animation: 
            typing-2 2s steps(20) forwards,
            blink 0.9s step-end infinite;
    }
    
    
    
    @keyframes typing-1 {
        from {width: 0 ;}
        to { width: 100%; }
    }
    @keyframes typing-2 {
        from {width: 0;}
        to { width: 100%; }
    }
    @keyframes blink {
        0% { border-color: transparent; }
        50% { border-color: white; border-width: 3px; }
    }
    .text-PORT.no-blink { border-color: red   ; /* Spegne il cursore */ }
    .show-NAME { display: flex; /* Mostra la seconda riga */ }
    
    
    .line {
        width: 100%;
        align-self: flex-start;
    }

    .divider {
        display: flex;
        border: none;
        height: 2.8px;
        background-color: #808080;
        box-shadow: none;
        width: 80%;
    }
    
    
    
    .menu {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        animation: none;
    }
    
    
    .about {
        margin: auto;
        color: white;
        font-size: 5vw;
        margin-right: 3vw;
    }
    .about:hover {
        display: none;
    }
    
    
    
    .skil {
        margin: auto;
        color: white;
        font-size: 5vw;
    }
    .skil:hover {
        display: none;
    }
    
    
    .projects {
        margin: auto;
        color: white;
        font-size: 5vw;
        margin-left: 3vw;
    }
    .projects:hover {
        display: none;
    }
    
    
    
    .contacts {
        display: none;
        color: white;
        font-size: 5vw;
    }
    .contacts:hover {
        display: none;
    }
    
}